.header {
  height: 64px;
  background-color: #0f172a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.logo {
  font-size: 18px;
  font-weight: 600;
}

.header-center {
  display: flex;
  gap: 25px;
}

.nav-link {
  background: none;
  border: none;
  color: #cbd5f5;
  cursor: pointer;
  font-size: 14px;
}

.nav-link:hover {
  color: #ffffff;
}

.header-right {
  display: flex;
  gap: 12px;
}


.signup-btn {
  background-color: #2563eb;
  border: none;
  color: #ffffff;
  padding: 6px 14px;
  cursor: pointer;
  border-radius: 6px;
}
.footer {
  background-color: #0f172a;
  color: #e5e7eb;
  padding: 24px;
  margin-top: 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1100px;
  margin: auto;
}

.footer-logo {
  margin: 0;
  font-size: 18px;
}

.footer-text {
  font-size: 14px;
  color: #cbd5f5;
}

.footer-right {
  display: flex;
  gap: 16px;
}

.footer-link {
  color: #cbd5f5;
  text-decoration: none;
  font-size: 14px;
}

.footer-link:hover {
  color: #ffffff;
}

.footer-bottom {
  text-align: center;
  margin-top: 16px;
  font-size: 13px;
  color: #9ca3af;
}
